/* Customize fonts */
  label { 
    font-family: 'Encode Sans Normal', Helvetica;
    color : #37BBED;
    font-weight: 400;
  }

  .form-group .shiny-input-container { 
    font-family: 'Encode Sans Normal', Helvetica;
    color : black;
    font-weight: 400;
  }


  h1, h2 { font-weight: 400; 
    font-family: 'Encode Sans Normal', Helvetica;
    color: #37BBED;}
  
  h3 { font-weight: 400; 
    font-family: 'Encode Sans Normal', Helvetica;
    color: white;}

  h4 { font-weight: 400; 
    font-family: 'Encode Sans Normal', Helvetica;
       color: black;}

  li {
    color: white;
}

.nav-tabs {
  background: white;
   font-family: 'Encode Sans Normal', Helvetica;
}

.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a{
  background-color: white;
  border-top-color: #C2C2C2;
}

.nav-tabs-custom .nav-tabs li.active {
  border-top-color: white;
}

/* Value boxes  */
.small-box.bg-olive {
  height: 350px;
  font-family: 'Encode Sans Normal', Helvetica;
}

.small-box.bg-light-blue {
  height: 350px;
  font-family: 'Encode Sans Normal', Helvetica;
}

.small-box.bg-red {
  height: 240px !important;
  background-color: #00c0ef !important;
  font-family: 'Encode Sans Normal', Helvetica;
}
.small-box.bg-aqua {
  height: 110px;
 background-color: #00c0ef !important;
  font-family: 'Encode Sans Normal', Helvetica;
}
/* logo */
.skin-blue .main-header .logo {
  background-color: #37BBED;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #37BBED;
  font-family: 'Encode Sans Normal', Helvetica;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #37BBED;
  font-family: 'Encode Sans Normal', Helvetica;
}        

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #C2C2C2;
  font-family: 'Encode Sans Normal', Helvetica;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #b8b8b8;
  font-family: 'Encode Sans Normal', Helvetica;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: #C2C2C2;
  color: #000000;
  font-family: 'Encode Sans Normal', Helvetica;
}

/* other links in the sidebarmenu when hovered */
 .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
   background-color: white;
   font-family: 'Encode Sans Normal', Helvetica;
 }
 
/* toggle button when hovered  */                    
 .skin-blue .main-header .navbar .sidebar-toggle:hover{
   background-color: #37BBED;
   font-family: 'Encode Sans Normal', Helvetica;
 }
 
 /*boxes*/
 .skin-blue .box-header {
    font-family: 'Encode Sans Normal', Helvetica;
}

.box.box-solid.box-primary>.box-header {
  background:#37BBED
                    }
.footer {
  font-family: 'Encode Sans Normal', Helvetica;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  background-color: #37BBED;
  height: auto;
  padding: 20px;
}

#footer-text {
  color: white;
  font-style: normal;
}

.fa-github {
  color: white;
}

.fa-robot {
  color: white;
}

.col-md-1 {
    text-align: center;
    font-size: 1.3rem;
}


.row {
  margin-right: 0;
  margin-left: 0;
} 

.col-sm-12{
  padding: 0;
}